form {
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input {
  padding: 8px 15px;
}

label {
  margin-bottom: 10px;
}

span {
  display: inline-block;
}
