#parent {
  width: 530px;
  height: auto;
  padding: 50px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  transition: all linear 0.3s;
  margin-top: 50px;
  border-radius: 10px;
}

#parent:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

tr {
  display: flex;
  padding: 10px 0;
  column-gap: 50px;
}

td {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

td input[type="text"],
input[type="email"],
input[type="number"] {
  padding: 8px 15px;
  width: 200px;
}

td label {
  font-size: 16px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
}

td span {
  display: flex;
}
